.homeWrapper{
  background-color: #21292E;
  background-image: url("Poker_Table.jpg") !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper{
  display: flex;
  flex-direction: column;
  height: auto;
}
.cardsWrapper{
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.divider{
  width: 100%;
  height: 10px;
  background: #aaa;
}

@media (max-width: 414px){
  .homeWrapper{
    background-color: #21292E;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .cardsWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0rem;
    margin-left: 3rem;
  }
}