/* Start of containers 1 - 4 */
.container1, .container2, .container3, .container4{
    width: 80%;
    margin: auto;
    padding-top: 6rem;
    color: black;
    max-width: 900px;
}

.welcome{
    padding-top: 5rem;
}

.tagline{
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: 500;
}

.valueImg{
    margin-top: 1rem;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.7);
}



.col-lg-12{
    padding: 0 12px !important;
}

h3{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    padding: 6rem 0 2rem 0;
}

.meet{
    color: black;
}


/* End of containers 1 - 4 */




/* Start of CSS for Meet the Developers */

.container5{
    width: 100%;
    margin: auto;
    max-width: 1200px;
    margin-bottom: 5rem;
    padding-top: 6rem;
}

.developers {
    border: 2px solid black;
    border-radius: 1rem;
    object-fit: fill;
}

/* .developersWrapper{
    width: 100%;
} */

.deck {
    margin: 2rem 0;
    /* width: 500px; */
}




.social-links img{
    padding: 2px;
    max-width: 35px;
    margin-left: .5rem
    
}

.card{
    background-color: rgb(0,153,20);
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.7);
    position: relative;
    z-index: 1;
}

.card-body{
    padding: 12px 0;
}

.card h5{
    font-weight: 600;
}

a{
    text-decoration: none;
}

/* End of Meet the Developers */




/* Start of Navbar  */
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 0.8rem;
    box-shadow: 0px 3px 15px rgba(3,92,15,.4);
    z-index: 999;
}

  .logoTitle{
    color:rgb(0,153,20) !important;
    font-weight: 700;
    font-size: 1.5rem;
  }

  

  .nav-item a{
      font-size: 1.1rem; 
      margin:  0 .3rem; 
  }

  .navList{
      margin: 0 0px 0 0;
  }

  .playButton{
    background-color: rgb(0,153,20);
    letter-spacing: .05rem;
    color:white !important;
    border-radius: .2rem;
    padding: .2rem 1rem !important;
    text-decoration: none;
    font-size: 1rem;
}

  /* End of Navbar */



 
/* Start of footer  */
  footer {
    letter-spacing: 1.3px;
    background-color: #fff;
    color: black;
    box-shadow: 0px 3px 15px rgba(3,92,15,.4);

}
/* End of Footer */


.blog{
    
    background-color: rgb(0,153,20);
    box-shadow: 0px 3px 15px rgba(3,92,15,.4);
    padding: .5rem;
    border-radius: .3rem;
}

.blog a{
    color: white;
    letter-spacing: 1.8px;
}
 

  @media(max-width:414px){
    .container1, .container2, .container3, .container4{
        width: 145% !important;
        margin: auto;
        padding-top: 6rem;
        color: black;

    }
    .valueImg{
        width: 100%;
    }
    .theDeal{
        margin-top: 3rem;
    }
    .fallingChipsCard{
        margin-left: 5rem;
    }
    .placeholder{
        width: 100%;
    }

    .container5{
        width: 145%;
    }
  }

